
@{
    ViewBag.Title = "Hakkimizda";
}

@section head{

    @*<link href="~/Content/css/hakkimizda.css" rel="stylesheet" />*@

    <meta http-equiv="X-UA-Compatible" content="iE=edge,chrome=1" />





    @*<link href="~/hakkimizda/css/pe-icon-7-stroke.css" rel="stylesheet" />*@

    <!--     <link href='css/ct-navbar.css' rel='stylesheet' /> -->

    <link href="~/hakkimizda/css/rotating-card.css" rel="stylesheet" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    @*<link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">*@

    @*<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>*@
    <style>
               .card-container {
              -webkit-perspective: 500px;
           -moz-perspective: 500px;
             -o-perspective: 500px;
                perspective: 500px;
                margin-bottom: 30px;
        }
        .card .cover {
            height: 105px;
            overflow: hidden;
            border-radius: 4px 4px 0 0;
        }
        .card .user {
            border-radius: 50%;
            display: block;
            height: 120px;
            margin: -55px auto 0;
            overflow: hidden;
            width: 105px;
        }
            </style>
}
<div style="margin-top:150px;margin-bottom:60px;">

    <div style="width:100%">
        <div class="col-sm-12  col-lg-12">

            <div style="margin-left:5%">
                <div class="col-md-3 col-sm-6 col-lg-3" style="float:left;width:220px;">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="/hakkimizda/images/rotating_card_thumb3.png" />
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="/hakkimizda/images/merve.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Merve Ozmetin</h3>
                                        <p class="profession">Web Developer</p>

                                        <p class="text-center">"Bilgisayar Mühendisi"</p>
                                    </div>
                                    <div class="footer">
                                        <div class="rating">
                                            <i class="fa fa-mail-forward"></i> Auto Rotation
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"Bu neymiş.!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Is Tanimi</h4>
                                        <p class="text-center">HTML5, CSS3, MVC, JS, jQUERY, Bootstrap...</p>

                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div>

              

                <div class="col-md-3 col-sm-6 col-lg-3" style="float:left;width:220px;">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="/hakkimizda/images/rotating_card_thumb3.png" />
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="/hakkimizda/images/tugba.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Tugba Basar</h3>
                                        <p class="profession">Web Manager</p>

                                        <p class="text-center">"Elektronik Mühendisi"</p>
                                    </div>
                                    <div class="footer">
                                        <div class="rating">
                                            <i class="fa fa-mail-forward"></i> Auto Rotation
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"O, Bu, Su; Onlar, Bunlar, Sunlar"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Is Tanimi</h4>
                                        <p class="text-center">HTML5, CSS3, MVC, JS, jQUERY, Bootstrap...</p>

                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div>
                

                <div class="col-md-3 col-sm-6 col-lg-3" style="float:left;width:220px;">
                    <div class="card-container manual-flip">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="/hakkimizda/images/rotating_card_thumb.png" />
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="/hakkimizda/images/muratt.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Murat Kaya</h3>
                                        <p class="profession">Web Developer</p>
                                        <p class="text-center">"istatistik"</p>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-simple" onclick="rotateCard(this)">
                                            <i class="fa fa-mail-forward"></i> Manual Rotation
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"Sıkıntı yoksa Sıkıntı Vardır"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Is Tanimi</h4>
                                        <p class="text-center">HTML5, CSS3, MVC, JS, jQUERY, Bootstrap...</p>

                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                        <i class="fa fa-reply"></i> Back
                                    </button>
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div>



                <div class="col-md-3 col-sm-6 col-lg-3" style="float:left;width:220px;">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="/hakkimizda/images/rotating_card_thumb.png" />
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="/hakkimizda/images/yakisikliserdar.jpeg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Serdar Elibol</h3>
                                        <p class="profession">Web Developer</p>

                                        <p class="text-center">"Elektrik-Elektronik Mühendisi"</p>
                                    </div>
                                    <div class="footer">
                                        <div class="rating">
                                            <i class="fa fa-mail-forward"></i> Auto Rotation
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"Ne Sensör Ne Ben Söyliyim."</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Is Tanimi</h4>
                                        <p class="text-center">HTML5, CSS3, MVC, JS, jQUERY, Bootstrap...</p>

                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div>
               

                <div class="col-md-3 col-sm-6 col-lg-3" style="float:left;width:220px;">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="/hakkimizda/images/rotating_card_thumb.png" />
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="/hakkimizda/images/soner.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Soner Günes</h3>
                                        <p class="profession"> Web Developer</p>
                                        <p class="text-center">"Yonetim Bilisim Sistemleri"</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Auto Rotation
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"Hayat Bootstrapla Güzel..!!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Is tanimi</h4>
                                        <p class="text-center">HTML5, CSS3, MVC, JS, jQUERY, Bootstrap...</p>

                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />
        <div style="width:100%">
            <div>

                <h1>

                    <div style="margin-left:40%"> Hakkimizda</div>
                </h1>
                <br />
                <br />
                <h4>
                    <div class="container" style="text-align:center;margin-left:7%">
                        <blockquote>&ldquo;Proje kurgulanirken, sadece yurt reklamlari olan ve sadece kayit doneminde islevsel olan bir proje degil, yilin her ayi aktif ziyaretçi barindiran ve ogrencilerin sürekli ziyaret etmesinin amaçlandigi bir proje olarak hayata geçirilmistir. Üniversite ogrencilerimizin, yurt ararken, istedigi ozellikte yurtlari bulmalarini saglamak, Yurt sahipleri ile direk iletisime geçmelerini saglamaktayiz.&rdquo;</blockquote>
                    </div>
                </h4>


            </div>


        </div>
    </div>


    <div style="height:60px"></div>





</div> 







@section Scripts{
    <script src="~/hakkimizda/js/jquery-1.10.2.js"></script>
    <script src="~/hakkimizda/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        $().ready(function () {
            $('[rel="tooltip"]').tooltip();

            $('a.scroll-down').click(function (e) {
                e.preventDefault();
                scroll_target = $(this).data('href');
                $('html, body').animate({
                    scrollTop: $(scroll_target).offset().top - 60
                }, 1000);
            });

        });

        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }


    </script>
}
